/*.about-div {*/
/*    display: grid;*/
/*}*/
/*.about-div h1, h3, p {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: gray;
}
p {
    text-indent: 30px;
}
.qr-code {
    min-width: 200px;
}